<table>
  <tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
  </tr>
  <tr>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
  </tr>
  <tr>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
  </tr>
  <tr>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
  </tr>
  <tr>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
  </tr>
  <tr>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
  </tr>
  <tr>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
    <td>
      <app-day>day</app-day>
    </td>
  </tr>
</table>
