@mixin vertical-flex-container($grow) {
  // _This_ element will grow in whichever direction its container defines
  flex-grow: $grow;
  // This element's _contents_ will grow vertically
  display: flex;
  flex-direction: column;
}

@mixin horizontal-flex-container($grow) {
  // _This_ element will grow in whichever direction its container defines
  flex-grow: $grow;
  // This element's _contents_ will grow horizontally
  display: flex;
  flex-direction: row;
}

.month-and-year-header {
  width: 100%;
}

.day-grid {
  @include vertical-flex-container(1);

  // Width of element + margin on each side = 100%
  width: 94%;
  margin: 2%;
  padding: 0 1% 1%;
}

.col-1-7 {
  width: 14.286%;
  flex: 1 0 auto;
}

.weekday-headers {
  // _This_ element will not grow to fill its container
  flex-grow: 0;
  // This element's _contents_ will grow horizontally
  display: flex;
  // Magical! Keeps the layout from "stretching" when adding padding & margins
  box-sizing: border-box;
}

.weekday-header {
  display: inline;
  // Magical! Keeps the layout from "stretching" when adding padding & margins
  box-sizing: border-box;
}

.weekdays {
  // _This_ element will its container at a 1/1 ratio
  // In this case, the container is set to 'column' (vertical growth)
  flex-grow: 1;
  // This element's _contents_ will grow horizontally
  display: flex;
}

.weekday {
  display: inline;
  // Magical! Keeps the layout from "stretching" when adding padding & margins
  box-sizing: border-box;
}

.day-of-month {
  display: inline-block;
  width: 1.3em;
  height: 1.6em;
  padding: 0 0.5em 0.3em;
  // Invisible border equalizes the layout when there is no number in the box
  border-bottom: 1px transparent;
}

.nav-container {
  flex-grow: 0;
  font-size: 3.0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.month-nav {
  padding: 0 1.0rem;
}
