// Fonts
$header-fonts: 'Lato', sans-serif;
$cal-fonts: 'Lato', sans-serif;

// Color palette
// Thanks to my beautiful wife for helping me choose and apply the color scheme :-*
$white: rgba(255, 255, 255, 1);
$very-light-gray: rgba(248, 248, 248, 1);
$dark-grey: rgba(99, 99, 99, 1);
$light-blue: rgba(185, 226, 234, 1);
$dark-blue: rgba(0, 149, 181, 1);
// Symbolic names
$main-bg-color: $white;
$cal-bg-color: $white;
$main-fg-color: $dark-grey;
$header-fg-color: $dark-blue;
$accent-color: $very-light-gray;
$shadow-color: $light-blue;

// Styles
body {
  font-family: $cal-fonts;
  background-color: $main-bg-color;
  color: $main-fg-color;
}

.month-and-year-header h1 {
  font-family: $header-fonts;
  font-size: 2.6rem;
  font-weight: 700;
  font-variant: small-caps;
  color: $header-fg-color;
  padding: 1.0rem 0 0;
  text-align: center;
}

.day-grid {
  // This gives a cool shadow border effect without an actual border
  border-radius: 5px;
  box-shadow: 3px 3px 6px 1px $shadow-color;
  background-color: $cal-bg-color;
}

.weekday-headers {
  text-align: center;
  padding: 0.5rem 0 0;
}

.weekday-header {
  border-bottom: 1px solid $accent-color;
  font-weight: 900;
}

.weekdays {
}

.weekday {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  border-left: 1px solid $accent-color;
  border-bottom: 1px solid $accent-color;
}

.weekday:last-child {
  border-right: 1px solid $accent-color;
}

.day-of-month-val {
  height: 1.5em;
  border-right: 1px solid $shadow-color;
  border-bottom: 1px solid $shadow-color;
  border-radius: 2px;
  box-shadow: 2px 2px $shadow-color;
}
